<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/pages/images.css" />
    </head>
    <body>
        <section class="paralax-image">
            <div class="bgimg-1">
                <div class="caption">
                    <span class="border">W E L C O M E</span>
                </div>
            </div>
            <div class="aboutme">
                <h3>About me</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                    minima placeat voluptates eaque in soluta ex inventore quod,
                    voluptate recusandae est dolore unde eos minus officiis
                    dignissimos tempore cupiditate neque dolorem accusamus
                    corporis autem. Corporis necessitatibus libero fugiat
                    tempora accusantium sunt distinctio harum consequuntur!
                    Suscipit amet harum quas delectus voluptatibus excepturi
                    deleniti quia nesciunt mollitia similique atque voluptates
                    nobis autem asperiores neque reiciendis incidunt quo
                    cupiditate unde ratione vel, facilis pariatur laboriosam
                    repellat. Distinctio, similique tenetur, impedit commodi,
                    atque ab dolorum iste nisi velit pariatur laborum? Totam
                    fuga officia provident eos laudantium atque asperiores non
                    quibusdam omnis accusamus nulla temporibus placeat facilis
                    nam molestiae deleniti in aspernatur quis iure, iste ad
                    adipisci! Dolor ducimus eius odio molestiae temporibus,
                    quaerat nihil laudantium optio dolorem nisi, illo iusto
                    excepturi, sint eligendi ipsum. Accusamus debitis possimus
                    ducimus cum assumenda optio delectus nobis aut, tenetur
                    doloremque inventore veniam sint id impedit quasi incidunt.
                    Sint error eaque nesciunt officiis dolores. Autem ipsa
                    veniam voluptatum sapiente corporis odio necessitatibus
                    animi tenetur. A, velit eaque eos labore repudiandae
                    nostrum. Molestiae eaque exercitationem excepturi illum
                    mollitia iusto aspernatur sunt distinctio, laudantium
                    nostrum aliquam. Nisi saepe voluptate suscipit praesentium
                    odio velit unde magnam officia. Consequatur unde molestias
                    provident rerum?
                </p>
            </div>

            <div class="bgimg-2">
                <div class="caption">
                    <span class="CM">Web Development</span>
                </div>
            </div>
            <div class="edu">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                minima placeat voluptates eaque in soluta ex inventore quod,
                voluptate recusandae est dolore unde eos minus officiis
                dignissimos tempore cupiditate neque dolorem accusamus corporis
                autem. Corporis necessitatibus libero fugiat tempora accusantium
                sunt distinctio
            </div>

            <div class="bgimg-2">
                <div class="caption">
                    <span class="CM">CONTACT ME</span>
                </div>
            </div>
            <div class="fo">
                <form action="/" method="post">
                    <h2>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. am quas blanditiis distinctio quae.
                    </h2>
                    <p>
                        <label>Name:</label>
                        <input type="text" name="username" />
                    </p>
                    <p>
                        <label>Email:</label>
                        <input type="email" name="email" />
                    </p>
                    <button type="button" class="btn">Send</button>
                </form>
            </div>

            <div class="bgimg-3">
                <div class="caption">
                    <span class="border">Thank you</span>
                </div>
            </div>
        </section>
    </body>
</html>
