* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background: #000;
    color: aliceblue;
}
.wrapper {
    min-height: 100%;
}
.parallax {
    min-height: 100vh;
}
.parallax__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.parallax__container {
    margin-top: 50px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.parallax__label {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: url(../../templates/img/anamated.gif);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(344px, 135px);
}
.parallax__label::before,
.parallax__label::after {
    content: "";
    flex: 0 0 70px;
    height: 3px;
    background: #fff;
}

.parallax__images {
    width: 120%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: 1;
}
.parallax__title {
    min-width: 400px;
    font-size: 2.2rem;
    word-spacing: 10px;
    transform: translate(334px, 127px);
}
.images-parallax__item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.images-parallax__clouds {
    background: url("../../templates//img/parallax-page/clouds.jpg") top / cover
        no-repeat;
    top: 0;
}
.images-parallax__mountains {
    background: url("../../templates//img/parallax-page/mountains.png") top /
        cover no-repeat;
    top: 15%;
    z-index: 2;
}
.images-parallax__human {
    background: url("../../templates//img/parallax-page/human.png") top / cover
        no-repeat;
    top: 46%;
    z-index: 3;
}

/* Skils content  --- start */
@property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: "<percentage>";
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}
:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

.content {
    background: rgb(46, 21, 21);
    position: relative;
    z-index: 2;
}
.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, #0b1d26 100%);
}

.container {
    padding: 50px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
}
.container p {
    margin-bottom: 20px;
    font-size: 2.8rem;
    color: #9fff21;
    font-weight: 600;
}
.content__box {
    width: 370px;
    padding: 55px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: rgb(168, 233, 15);
    background: linear-gradient(0deg, rgba(2, 39, 107, 0.39), #272727);
    border-radius: 6px;
    border: 0.35rem solid;
    border-image: conic-gradient(
            from var(--angle),
            var(--c2),
            var(--c1) 0.1turn,
            var(--c1) 0.15turn,
            var(--c2) 0.25turn
        )
        30;
    animation: borderRotate var(--d) linear infinite forwards;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.content__box:nth-of-type(even) {
    transform: translateX(-400%);
}

.content__box.show {
    transform: translateX(0);
}

.content__box:nth-child(2) {
    border-image: radial-gradient(
            ellipse at var(--gradX) var(--gradY),
            var(--c1),
            var(--c1) 10%,
            var(--c2) 40%
        )
        30;
    animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }
    40% {
        --gradX: 100%;
        --gradY: 100%;
    }
    60% {
        --gradX: 50%;
        --gradY: 100%;
    }
    80% {
        --gradX: 0%;
        --gradY: 50%;
    }
    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

@media (max-aspect-ratio: 3/2) {
    .images-parallax__human {
        background-position: 20% top;
    }
}
@media screen and (max-width: 576px) {
    .parallax__label {
        transform: translate(164px, 145px);
        font-size: 1.4rem;
    }
    .parallax__label::before,
    .parallax__label::after {
        flex: 0 0 40px;
    }
    .parallax__title {
        transform: translate(154px, 137px);
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 400px) {
    .container p {
        font-size: 11vw;
    }
    .content__box {
        max-width: 350px;
        width: 100%;
        height: 22vw;
    }
}
