@import "user-page.css";
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.page-signIn {
    padding: 0 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    height: 100vh;
    background: url(../../templates/img/page-signIn/hh.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-signIn__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 500px;
    border-radius: 7px;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #7b71da 0%, #42c24d 100%);
    background-size: cover;
    position: relative;
}
.page-signIn__logo-link {
    width: 166px;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.page-signIn__logo-link img {
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    margin-bottom: 56px;
}
.input,
.btn {
    display: block;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
}
.input {
    padding: 0 10px;
    font-size: 1.2rem;
    outline: none;
}
.password {
    display: inline-block;
    max-width: 85%;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.password__container {
    height: 40px;
    margin-top: 12px;
    margin-bottom: 39px;
    background: rgb(214, 169, 169);
    border-radius: 7px;
    position: relative;
}
.view-hide {
    width: 25px;
    margin-left: 3px;
    transform: translateY(7px);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8px;
}

.btn {
    margin-bottom: 10px;

    background: rgb(30, 44, 238);
    color: #fff;
    font-size: 1.3rem;
    transition: 0.9s linear;
}
.btn:hover,
.btn:focus {
    cursor: pointer;
    background: rgb(116, 209, 28);
    color: black;
}
.link {
    font-size: 18px;
    color: blue;
    font-weight: 600;
}
.link:hover {
    opacity: 0.7;
}
.back-home {
    display: flex;
    align-items: center;
    gap: 7px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.go-To-Back {
    color: rgb(58, 58, 45);
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.5s ease;
}
.go-To-Back:hover {
    color: rgb(33, 34, 30);
    font-weight: 800;
    transform: scale(1.05);
}
.entry {
    color: aliceblue;
}
.user__profil {
    width: 100vw;
    background: rgb(228, 224, 224);
}

@media screen and (max-width: 600px) {
    .page-signIn__container {
        max-width: 530px;
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .page-signIn__logo-link {
        display: none;
    }
}
@media screen and (max-width: 365px) {
    .form {
        width: 90%;
    }
    .password__container,
    .input,
    .btn {
        max-width: 300px;
        width: 100%;
    }

    .password {
        max-width: 300px;
        width: 85%;
    }
}
